.bg-primary {
    background-color: rgba(96, 94, 95, 1);
    padding: 5px;
    border-radius: 60px;
    margin-top: 3px;
}
.logout-btn{
    width: 10%;
    margin: 10px;
    border: 1px solid white;
    color: white;
    font-size: 14px;
}
.w-90{
    width: 90%;
}
