.custom-button{
    background-color: white;
    color: rgba(128, 181, 199, 1);
}
.custom-button:hover{
    background-color: rgba(128, 181, 199, 1);
    color: white;
}
.my-table th{
    color: rgba(128, 181, 199, 1);
}
.bg-primary{
    background-color: rgba(128, 181, 199, 1);
}
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
}