<div class="container my-5 mx-auto">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7 col-12">
            <img src="../../../assets/loginpicture.png" style="max-width: 100%;" alt="Login">
        </div>
        <div class="col-md-5 col-12 d-flex flex-column justify-content-center align-items-end">
            <h1 class="title mb-4">تسجيل الدخول</h1>
            <p class="sub-title">مرحبا برجوعك ! ادخل بياناتك الان للعودة لحسابك</p>
            <form action="" class="login-form">
                <div class="mb-4">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="البريد الالكتروني">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="Password" placeholder="كلمة السر">
                </div>
                <div class="mb-3 text-end">
                    <a href="#" class="forgot-password">هل نسيت كلمة السر ؟</a>
                </div>
                <button type="submit" class="login-button mb-4">تسجيل الدخول</button>
                <div class="mb-3 text-center">
                    <span class="fw-semibold">ليس لديك حساب ؟ </span><a href="#" class="forgot-password">إنشاء حساب جديد</a> 
                    <br>
                    <span class="fw-semibold">تسجيل كمدرب </span><a href="#" class="forgot-password">اضغط هنا للدخول</a>
                </div>
            </form>
        </div>
    </div>
</div>