.text-primary {
    color: rgba(187, 7, 1, 1);
    margin-right:10px;
}
.bg-color{
    background-color: #F5F6FA;
    padding: 15px;
    border-radius: 20px;
}
.custom-input{
    background-color: white;
}
