.bg-purple{
    background-color: #3B117E;
    padding-top: 0;
}
.logo{
    background-color: #210559;
    padding: 12px;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 75%;
}

.rounded-left{
    border-radius: 20px 0px 0px 20px;
    width: 95%;
}
.text-primary{
    color: #3B117E;
}


.margin-companies{
    margin-top: 25% !important;
}