<div class="container my-5 mx-auto">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7 col-12 d-flex align-items-end">
            <div class="background-container">
                <div class="overlay-text mt-5">
                    <div class="welcome-text">
                        مرحبا بك
                    </div>
                    <div class="main-text my-2">
                        في لوحة التحكم الخاصة بالمدربين
                    </div>
                    <div class="small-text my-4">
                        سجل الدخول لبدء رحلتك التدريبية معنا
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-12 d-flex flex-column justify-content-center align-items-center">
            <div>
                <img src="../../../assets/masar.png" style="max-width: 100%;" alt="Login">
            </div>
            <h1 class="title mb-4">تسجيل الدخول</h1>
            <p class="sub-title">  مرحبا بك مرة أخري . من فضلك ادخل بياناتك لتسجيل الدخول  </p>
            <form action="" class="login-form">
                <div class="mb-4">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="البريد الالكتروني">
                </div>
                <div class="mb-4">
                    <input type="password" class="form-control" id="Password" placeholder="كلمة السر">
                </div>
                <button type="submit" class="login-button mb-4">تسجيل الدخول</button>
                <div class="mb-3 text-center">
                    <a href="#" class="forgot-password">هل نسيت كلمة السر ؟</a>
                </div>
            </form>
        </div>
    </div>
</div>