<div class="container my-5 mx-auto">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7 col-12">
            <img src="../../../assets/trainerpicture.png" style="max-width: 100%;" alt="Login">
        </div>
        <div class="col-md-5 col-12 d-flex flex-column justify-content-center align-items-end">
            <h1 class="title mb-4"> انضم كمدرب بتدرب </h1>
            <p class="sub-title">قم بتسجيل بياناتك وسيقوم فريق العمل بالتواصل معك في 
                اقرب وقت ممكن       </p>
            <form action="" class="login-form">
                <div class="mb-4">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="الاسم">
                </div>
                <div class="mb-4">
                    <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="البريد الالكتروني">
                </div>
                <div class="mb-4">
                    <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="رقم التليفون ">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="Password1" placeholder="كلمة السر">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="Password2" placeholder=" تأكيد كلمة السر ">
                </div>
                <div class="mb-3 text-end">
                    <span class="fw-semibold"> بمجرد التسجيل فأنت توافق علي</span><a href="#" class="forgot-password"> الاحكام والشروط</a> 
                    <input type="checkbox" class="m-1" name="conditions" id="conditions">
                </div>
                <button type="submit" class="login-button mb-4">انشاء حساب </button>
                <div class="mb-3 text-center">
                    <span class="fw-semibold"> لديك حساب عندنا؟</span><a href="#" class="forgot-password">  تسجيل الدخول</a>
                </div>
            </form>
        </div>
    </div>
</div> 