<div class="card shadow-lg m-5 mx-auto w-50">
    <div class="card-body text-end">
        <!-- <form [formGroup]="profileForm"> -->
        <form>
            <div class="d-flex flex-column flex-wrap my-3">
                <div class="name">
                    <h2 class="card-title">تغيير كلمة المرور</h2>
                </div>
                <div class="text-end sub-title m-2">
                    من فضلك ادخل كلمة المرور الجديدة للعودة لحسابك 
                </div>
            </div>

            <h3 class="card-title fs-5">
                ادخل كلمة المرور الحالية
            </h3>
            <!-- Password Field -->
            <div class="form-group position-relative my-4">
            <input [type]="showCurrentPassword ? 'text' : 'password'"
                    class="form-control text-end ps-5"
                    id="password"
                    placeholder="كلمة المرور الحالية">
            <i class="fas" [ngClass]="showCurrentPassword ? 'fa-eye-slash' : 'fa-eye'"
                (click)="showCurrentPassword = !showCurrentPassword"
                style="position: absolute; top: 50%; transform: translateY(-50%); left: 15px; cursor: pointer;"></i>
            </div>

            <h3 class="card-title fs-5">
                ادخل كلمة المرور الجديدة لحسابك
            </h3>
            <!-- New Password Field -->
            <div class="form-group position-relative my-4">
            <input [type]="showNewPassword ? 'text' : 'password'"
                    class="form-control text-end ps-5"
                    id="passwordnew"
                    placeholder="كلمة المرور الجديدة">
            <i class="fas" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"
                (click)="showNewPassword = !showNewPassword"
                style="position: absolute; top: 50%; transform: translateY(-50%); left: 15px; cursor: pointer;"></i>
            </div>

            <!-- Confirm Password Field -->
            <div class="form-group position-relative my-4">
            <input [type]="showConfirmPassword ? 'text' : 'password'"
                    class="form-control text-end ps-5"
                    id="passwordretry"
                    placeholder="تأكيد كلمة المرور ">
            <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
                (click)="showConfirmPassword = !showConfirmPassword"
                style="position: absolute; top: 50%; transform: translateY(-50%); left: 15px; cursor: pointer;"></i>
            </div>

            <!-- <button type="submit" class="btn btn-primary" (click)="updateProfile()">تحديث الملف الشخصي</button> -->
            <div class="my-2">
                <button type="submit" class="btn btn-primary main-btn w-100">حفظ البيانات</button>
            </div>
            <!-- <a routerLink="/reset-password" class="text-decoration-none my-2">
                <div class="description d-flex justify-content-center align-items-center">
                    <div class="m-2">
                        تغيير كلمة المرور
                    </div>
                    <div>
                        <img src="assets/cart/shape.png" alt="Check">
                    </div>
                </div>
            </a> -->
        </form>
    </div>
</div>
