.bg-purple{
    background-color: white;
    padding-top: 0;
}
.logo{
    padding: 12px;
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
.logo img{
    width: 75%;
}

.rounded-left{
    border-radius: 20px 0px 0px 20px;
    width: 95%;
}
.text-primary{
    color: rgba(128, 181, 199, 1);
}
.bg-hover{
    background-color: white;
    color: rgba(128, 181, 199, 1);
}
.hovering-color:hover{
    background-color: rgba(128, 181, 199, 1);
    color: white;
}

.margin-companies{
    margin-top: 25% !important;
}